<h3><img style="width: 3rem;" src="quote.png" alt="quote.png"> MyQuote</h3>
<div class="section">
  <p class="lead">Share your best quotes to inspire and teach others</p>
</div>
<div class="divier"></div>
<div class="section">
  <a href="/auth/google" class="btn red darken-1">
    <i class="fab fa-google left"></i> Log In with Google
  </a>
</div>
