p {
  margin: 10px 0 !important;
}

.login-container {
  width: 400px !important;
  margin-top: 50px !important;
  text-align: center;
}

.fa-small, .fa-edit {
  font-size: 16px !important;
}

.btn-float {
  float: left;
  margin-right: 10px;
}

.img-small {
  width: 180px;
}

.body-bg-black {
  background-color: #000;
  background-image: url('https://giffiles.alphacoders.com/168/168972.gif');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 90vh;
}

